footer {
  background: #000000;
  .container {
    padding: 48px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include media-breakpoint-down(md) {
      padding: 24px 16px;
      width: 100%;
      gap: 24px;
    }
    .footer-menu-grid {
      @include media-breakpoint-down(md) {
        order: 1;
      }
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 4px;
        .footer-menu {
          width: 100%;
        }
      }
      .footer-menu {
        .menu-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;
          @include media-breakpoint-down(md) {
            margin-bottom: 12px;
            cursor: pointer;
          }
          h4 {
            font-family: "Dongle";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 102.2%;
            color: #8a94f7;
          }
          i {
            color: #6371f4;
            transform: translateY(-4px);
            display: none;
            @include media-breakpoint-down(md) {
              display: inline;
            }
          }
        }

        ul.footer-menu-menu {
          display: flex;
          flex-direction: column;
          gap: 6px;
          list-style: none;
          li {
            p,
            a {
              font-family: "Dongle";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 102.2%;
              text-align: center;
              text-transform: capitalize;
              color: #ffffff;
              text-decoration: none;
            }
          }
          @include media-breakpoint-down(md) {
            display: none;
            padding-left: 24px;
            padding-bottom: 24px;
            &.open {
              display: block;
            }
          }
        }
      }
    }
    .footer-social {
      @include media-breakpoint-down(md) {
        order: 3;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      color: #8a94f7;
      font-size: 24px;
    }
    .risk {
      @include media-breakpoint-down(md) {
        order: 2;
      }
      font-family: "Dongle";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
      color: #ffffff;
    }
    .footer-extra-menu {
      @include media-breakpoint-down(md) {
        order: 4;
      }
      display: flex;
      align-items: center;
      gap: 24px;
      justify-content: center;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 12px;
      }
      a {
        font-family: "Dongle";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 102.2%;
        /* identical to box height, or 25px */

        text-transform: capitalize;

        color: #8a94f7;
      }
    }
  }
}
